<h1>Stupid Coaching</h1>
<div class="user-question">
<%= @question %>
<p>- You</p>
</div>

<br>
<br>
<div class="coach-answer">
<strong><%= @answer %></strong>
<p>- Your coach</p>
</div>
<br>
<br>
<%= link_to "Ask another question", '/' %>


